.modal {
	background: rgba(0, 0, 0, 0.85);
	width: 85vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-dialog {
	background: #ddd;
	padding: 10px;
	max-width: 90vw;
	min-width: 40vh;
	height: fit-content;
}

.modal-open {
	display: grid;
}
